body{
    margin:             0%;
    padding:            0%;
    background-image:   url(../pic/background/body_background1.jpg);
    background-repeat:  no-repeat;
    background-size:    cover;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

            /*  Start Of Log In & Sign UP Icons */
.signup , .login{
    display: flex;
    justify-content:    center;
    align-items:        center;

    position:           fixed;
    top:                85%;
    left:               94%;

    width:              60px;
    height:             60px;

    background-color:   transparent;

    transform-style:    preserve-3d;
    transition-duration:3s;

    z-index: 5;
}
.login{
    top:                78%;
}
.signup img, .login img{
    position:           relative;
    width:              50px;
    height:             50px;

    transform-style:    preserve-3d;
    transition-duration:3s;

}
.login img:hover , .signup img:hover ,.login:hover ,.signup:hover{
    transform:          scale(1.2);
}
            /*  End Of Log In & Sign UP Icons */

            /*  Start Of The Page Menu */
.header1{
    position:           sticky;

    display:            grid;
    width:              100%;
    height:             80px;

    background-color: rgba(0, 0, 0, 0.8);

    grid-template-areas: "logo logo space2 space3 space4 doc pat hos";
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 100px;

    justify-items:      center;
    align-items:        center;
}
.logo_of_header{
    display:            inline-block;

    width:              180px;
    height:             180px;

    margin-top:         -20px;
    padding:            0px;

    grid-area:          logo;
}
.lidoc{
    grid-area:          doc;
}
.lipat{
    grid-area:          pat;
}
.lihos{
    grid-area:          hos;
}

.lidoc , .lihos ,.lipat {
    margin-top:         -25px;

    color:            rgb(255, 255, 255);
    text-decoration:    none;
    font-size:          28px;
    font-family:        'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    border-bottom:      1px solid rgba(255, 255, 255, 0.2);
}

.mob_header{
    display: none;
}
            /*  End Of The Page Menu  */

            /*  Start OF The Second Part */
.about_us{
    position:           relative;

    padding:            50px;
    width:              100%;
    height:             700px;
    background-color: rgba(0, 0, 0, 0.5);

    display: grid;
    grid-template-areas: "h3 h3 img img img" "h3 h3 img img img" "h4 h4 img img img"
    "h4 h4 img img img"  ;
    grid-template-columns:  repeat(5,1fr);
    grid-template-rows:     repeat(4,1fr);

    justify-items: center;
    align-items: center;
}

.about_us img{
    filter:                 opacity(100%);
    filter:                 brightness(90%);
    border-radius:          180px;

    grid-area:              img;
}

.about_us h3{
    color:              #fa5a1b;
    font-size:              50px;
    font-weight:            500;

    padding:                0px;
    margin-top:             30px;

    grid-area:              h3;
}

.about_us p{
    color:                rgb(253, 253, 253);

    font-size:              30px;
    font-weight:            400;
    line-height:            150%;

    margin-left:            100px;
    margin-top:             -120px;

    grid-area:              h4;
    
}

.about_us p a{
    font-size:              20px;
    font-weight:            400;
    text-decoration:        none;
    color:                  white;
    margin-left:            460px
}