body{
    margin:             0%;
    padding:            0%;
    /* background-image:   url(../pic/background/body_background1.jpg);
    background-repeat:  no-repeat;
    background-size:    cover; */
    background-color: #f0f4f5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

            /*  Start Of Log In & Sign UP Icons */
.signup , .login{
    display: flex;
    justify-content:    center;
    align-items:        center;

    position:           fixed;
    top:                90%;
    left:               96.5%;

    width:              60px;
    height:             60px;

    background-color:   transparent;

    transform-style:    preserve-3d;
    transition-duration:3s;

    z-index: 5;

    background-color: rgba(0, 0, 0, 0.8);

    text-decoration: none;
    color:          lavenderblush;
    font-weight:    bold;
    font-family:  Garamond;
    border-radius:  35px;
    font-size: 22px;

    padding: 5px;
}
.login{
    top:                82%;
}
.signup img, .login img{
    position:           relative;
    width:              50px;
    height:             50px;

    transform-style:    preserve-3d;
    transition-duration:3s;

}
.login img:hover , .signup img:hover ,.login:hover ,.signup:hover{
    transform:          scale(1.2);
}

.mob_sign_login{
    display: none;
}
            /*  End Of Log In & Sign UP Icons */

            /*  Start Of The Page Menu */
.header1{
    position:fixed;
    
    display:            grid;
    width:              100%;
    height:             80px;

    background-color: #17364b;

    grid-template-areas: "logo logo space2 space3 space4 doc pat hos";
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 100px;

    justify-items:      center;
    align-items:        center;

    z-index: 150;
}

.logo_of_header{
    display:            inline-block;

    width:              180px;
    height:             180px;

    margin-top:         -20px;
    padding:            0px;

    grid-area:          logo;
}
.lidoc{
    grid-area:          doc;
}
.lipat{
    grid-area:          pat;
}
.lihos{
    grid-area:          hos;
}

.lidoc , .lihos ,.lipat {
    margin-top:         -25px;

    color:            #DDDDDD;
    text-decoration:    none;
    font-size:          28px;
    font-family:        'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    border-bottom:      1px solid rgba(255, 255, 255, 0.5);
}
/* For Design Of The Mobiles */
.mob_header{
    display: none;
}
            /*  End Of The Page Menu  */

            /*  Start OF The Second Part */
/* .about_us{


    position:           relative;
    left:               0px;
    right:              0px;

    margin-left:        auto;
    margin-right:       auto;

    padding:            50px;
    width:              88%;
    height:             700px;
    background-color: rgba(0, 0, 0, 0.5);

    display: grid;
    grid-template-areas: "h3 h3 img img img" "h3 h3 img img img" "h4 h4 img img img"
    "h4 h4 img img img"  ;
    grid-template-columns:  repeat(5,1fr);
    grid-template-rows:     repeat(4,1fr);

    justify-items: center;
    align-items: center;
}

.about_us img{
    filter:                 opacity(100%);
    filter:                 brightness(90%);
    border-radius:          180px;

    grid-area:              img;
}

.about_us h3{
    color:              black;
    font-size:              50px;
    font-weight:            500;

    padding:                0px;
    margin-top:             30px;

    grid-area:              h3;
}

.about_us p{
    color:                white;

    font-size:              30px;
    font-weight:            400;
    line-height:            150%;

    margin-left:            100px;
    margin-top:             -120px;

    grid-area:              h4;
    
}

.about_us p a{
    font-size:              20px;
    font-weight:            400;
    text-decoration:        none;
    color:                  white;
    margin-left:            300px
} */

.sponPic{
    position: relative;
    left: 5vw;
    width: 90vw;
    height: 50vh;

    border-radius: 30px;
}

.cont1{
    position: relative;
    left: 5vw;
    margin: 0px;
    width: 90vw;
    height: 70vh;
    overflow: hidden;
    display: grid;
    grid-column: repeat(3,10%) ;
    
    justify-content: center;
    column-gap: 2vw;
    row-gap: 10px;
    border-radius: 25px;
}

.pharm{
    grid-column: 1;
}
.calldoc{
    grid-column: 2;
}
.homevisit{
    grid-column: 3;
}

.pharm,.calldoc,.homevisit{
    padding: 35px;
    width: 100%;
    background-color: #2D6EC1;
    border-radius: 25px;
    text-align: center;
}

.pharm img,.calldoc img,.homevisit img{
    width: 25vw;
    height: 35vh;
    border-radius: 25px;
}

.pharm h3,.calldoc h3,.homevisit h3{
    font-size: 32px;
    margin: 20px;
    color: white;
    position: relative;
}

.pharm p,.calldoc p,.homevisit p{
    font-size: 28px;
    margin: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.pharm a,.calldoc a,.homevisit a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    position: relative;
    top: 2vh;
    background-color: rgb(211, 219, 255);

    border-radius: 25px;

    margin: 10px;

    transition-duration: 0.5s;
}

.pharm a:hover,.calldoc a:hover,.homevisit a:hover{
    background-color: #17364b;
    color: white;
}