/* Mobile Screen */

@media (max-width:767px){
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    body{
        margin:             0px;
        padding:            0px; 

        background-size:    cover;
        background-repeat:  repeat;

        overflow: hidden;
    }
    /*  */
    /*  */
    .signup , .login{
        display: none;
    }
    .mob_sign_login{
        display: grid;
        width: 100%;
        height: 8vh;

        position: fixed;
        top: 92vh;
        background-color: black;

        grid-template-columns: 68.5px 68.5px 68.5px;

        justify-content: center;
        align-items: center;

        column-gap: 8vw;

        z-index: 100;
    }
    .mobcall ,.mobsign ,.moblog{
        color: white;
        text-decoration: none;
        position: relative;
        font-family:        'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
    }
    .mobsign ,.moblog{
        position: relative;
        top: -0.3vh;
    }
    .mobcall img{
        height: 7vw;
        width: 7vw;
        position: relative;
        top: 0.2vh;
    }
    .conSign{
        text-align: center;
    }
    /*  */
    /*  */
    .header1{
        position: relative;

        grid-template-areas: "logo logo";
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 100px;

    }
    .lidoc , .lihos ,.lipat {
        display: none;
    }
    /*  */
    /*  */

    .mob_header{
        position: sticky;
        top: 0;

        display: grid;


        width: 100%;
        height: 50px;

        grid-template-areas: "doc pat hos";
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 50px;

        justify-items: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .Mob_lidoc , .Mob_lipat ,.Mob_lihos {
        position: sticky;
       
        color:            white;
        text-decoration:    none;
        font-size:          18px;
        font-family:        'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
        padding-bottom:     2px;
        border-bottom:      1px solid rgba(255, 255, 255, 0.2);
    }

    .Mob_lidoc{
        grid-area: doc;
    }

    .Mob_lipat{
        grid-area: pat;
    }

    .Mob_lihos{
        grid-area: hos;
    }
    /*  */
    /*  */

    /* .about_us{
        position:               relative;
        padding:                0px;
        padding-top:            30px;
        width:                  100%;
        height:                 600px;

        background-color:       rgba(0, 0, 0, 0.5);

        display:                grid;
        grid-template-areas:    "h3" "p" "img";
        grid-template-columns:  repeat(1,1fr);
        grid-template-rows:     repeat(2,1fr);
        row-gap:                -5px;
    }

    .about_us img{
        filter:                 opacity(100%);
        filter:                 brightness(90%);
        border-radius:          0px;
        width:                  100%;
        height:                 230px;
        margin-top:             -25px;
        grid-area:              img;

        padding-bottom: 45px;
    }
    
    .about_us h3{
        color:                 black;
        font-size:              24px;
        font-weight:            500;
        margin-top:             -60px;
        grid-area:              h3;
    }
    
    .about_us p{
        color:                white;
    
        font-size:              20px;
        font-weight:            200;
        line-height:            160%;
    
        margin-left:            20px;
        grid-row: 3 / 4;
        grid-area:              p;
    }
    .about_us p a{
        font-size:              12px;
        font-weight:            900;
        text-decoration:        none;
        color:                black;
        margin-left:            0px;
        padding-left:           260px;
    } */

    .sponPic{
        position: relative;
        left: 0px;
        width: 100vw;
        height: 25vh;
        border-radius: 0px;
    }

    .cont1{
        display: none;
    }
    .contmob1{
        width: 100%;
        height: 55vh;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 8vw;
        overflow-y: hidden;
        overflow-x: scroll;
        text-align: center;

        padding: 8vw;
    }
    .pharmMob{
        grid-column: 1;
    }
    .callDocMob{
        grid-column: 2;
    }
    .homevisitMob{
        grid-column: 3;
    }

    .pharmMob,.callDocMob,.homevisitMob{
        height: 45vh;
        width: 85vw;
        margin: 2.5% 0px 2.5% 0px;
        /* width:80vw; */
    }
    .pharmMob img,.callDocMob img,.homevisitMob img{
        height: 28vh;
        width: 85vw;

    }
    .pharmMob h3,.callDocMob h3,.homevisitMob h3{
        font-size: 24px;
        margin: 4px 0px 2px 0px;
    }
    .pharmMob p,.callDocMob p ,.homevisitMob p{
        font-size: 18px;
        font-weight: 600;
        margin: 4px 0px 10px 0px;
    }
    .pharmMob a,.callDocMob a ,.homevisitMob a{
        font-size: 14px;
        text-decoration: none;
        color: white;
        background-color: #17364b;
        padding: 4px;
        border-radius: 15px;
    }
}