/* Mobile Screen */

@media (max-width:767px){
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    body{
        margin:             0px;
        padding:            0px; 

        background-size:    cover;
        background-repeat:  repeat;

        overflow: hidden;
    }
    /*  */
    /*  */
    .signup , .login{
        position: fixed;
        left:               82%;
        width :             35px;
        height:             35px;
        border-radius:      17.5px;
        z-index: 8;
        background-color: rgba(0, 0, 0, 1);
        text-decoration: none;
        color: white;
    }

    /*  */
    /*  */
    .header1{
        position: relative;

        grid-template-areas: "logo logo";
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 100px;

    }
    .lidoc , .lihos ,.lipat {
        display: none;
    }
    /*  */
    /*  */

    .mob_header{
        position: sticky;
        top: 0;

        display: grid;


        width: 100%;
        height: 50px;

        grid-template-areas: "doc pat hos";
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 50px;

        justify-items: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .Mob_lidoc , .Mob_lipat ,.Mob_lihos {
        position: sticky;
       
        color:            white;
        text-decoration:    none;
        font-size:          18px;
        font-family:        'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
        padding-bottom:     2px;
        border-bottom:      1px solid rgba(255, 255, 255, 0.2);
    }

    .Mob_lidoc{
        grid-area: doc;
    }

    .Mob_lipat{
        grid-area: pat;
    }

    .Mob_lihos{
        grid-area: hos;
    }
    /*  */
    /*  */

    .about_us{
        position:               relative;
        padding:                0px;
        padding-top:            30px;
        width:                  100%;
        height:                 590px;

        background-color:       rgba(0, 0, 0, 0.25);

        display:                grid;
        grid-template-areas:    "h3" "p" "img";
        grid-template-columns:  repeat(1,1fr);
        grid-template-rows:     repeat(2,1fr);
        row-gap:                0px;
    }

    .about_us img{
        filter:                 opacity(100%);
        filter:                 brightness(90%);
        border-radius:          0px;
        width:                  100%;
        height:                 200px;
        margin-top:             -30px;
        grid-area:              img;
    }
    
    .about_us h3{
        color:                 black;
        font-size:              24px;
        font-weight:            500;
        margin-top:             -60px;
        grid-area:              h3;
    }
    
    .about_us p{
        color:                white;
    
        font-size:              20px;
        font-weight:            200;
        line-height:            160%;
    
        margin-left:            20px;
        grid-row: 3 / 4;
        grid-area:              p;
    }
    .about_us p a{
        font-size:              12px;
        font-weight:            200;
        text-decoration:        none;
        color:                black;
        margin-left:            0px;
        padding-left:           260px;
    }
}